
@using RoboVet6.Blazor.UI.Models

@if (Client.Id == 0)
{

    <h2>No Client Currently Selected</h2>
}
else
{
    if (Animal.Id != 0)
    {
        <h2>Selected Client: <a href="@($"clientdetail/{Client.Id}")">@Client.FirstName @Client.LastName</a> - Animal: <a href="@($"animaldetail/{Animal.Id}")">@Animal.Name</a></h2>
        }
    else
    {

        <h2>Selected Client: <a href="@($"clientdetail/{Client.Id}")">@Client.FirstName @Client.LastName</a></h2>

    }

}

@code

{
    [Parameter]
    public Client Client { get; set; }

    [Parameter]
    public Animal Animal { get; set; }
}




