@inherits LayoutComponentBase
@using RoboVet6.Blazor.UI.Services
@inject SelectedClientAnimalService SelectedClientAnimalService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth change">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="selectClientAnimal">

            @if (SelectedClientAnimalService.SelectedClient.Id == 0)
            {
                <div>
                    <h2>No Client Currently Selected</h2>
                </div>
            }
            else
            {
                if (SelectedClientAnimalService.SelectedAnimal.Id != 0)
                {
                    <h2>Selected Client: <a href="@($"clientdetail/{SelectedClientAnimalService.SelectedClient.Id}")">@SelectedClientAnimalService.SelectedClient.FirstName @SelectedClientAnimalService.SelectedClient.LastName</a> - Animal: <a href="@($"animaldetail/{SelectedClientAnimalService.SelectedAnimal.Id}")">@SelectedClientAnimalService.SelectedAnimal.Name</a></h2>
                }
                else
                {
                    <h2>Selected Client: <a href="@($"clientdetail/{SelectedClientAnimalService.SelectedClient.Id}")">@SelectedClientAnimalService.SelectedClient.FirstName @SelectedClientAnimalService.SelectedClient.LastName</a></h2>
                }
                
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

